@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    background: #ecefff;
}

a {
    color: #8286a6;
    text-decoration: none;
}



.header {
    width: 100%;
}

.bdwork,
.about,
.down {
    cursor: pointer;
}

.nav {
    display: flex;
    width: 100%;
    height: 10vh;
    margin: 20px auto;
}

.nav .title {
    line-height: 10vh;
    display: inline-flex;
    justify-content: flex-start;
    flex-grow: 1;
    margin: auto 200px;
}

.nav .title .logo {
    width: 69px;
    height: 69px;
    margin: auto 0;
}

.nav .title .logo img {
    width: 100%;
    height: 100%;
}

.nav .title p {
    font-size: 50px;
    font-family: 'ZCOOL KuaiLe', cursive;
    user-select: none;
    margin-left: 15px;
}

.nav .anchor {
    line-height: 10vh;
    display: inline-flex;
    justify-content: flex-end;
    flex-grow: 1;
    margin: auto 200px;
}

.nav .anchor .about,
.nav .anchor .bdwork {
    display: inline-flex;
    font-size: 23px;
    font-weight: bold;
    color: #6f8eff;
    margin: 0 16px;
}


.main {
    width: 100%;
    height: 69vh;
    display: flex;
}

.main .applogo {
    display: none;
}

.main .left {
    display: inline-flex;
    justify-content: center;
    flex-grow: 1;
    margin: auto;
}

.main .left .content {
    flex-flow: column;
}

.main .left .content .name {
    font-size: 50px;
    font-weight: bold;
    color: #6f8eff;
}

.main .left .content .introduce {
    font-size: 20px;
    color: #8286a6;
}

.main .left .content .vesion {
    width: 250px;
    text-align: center;
    font-size: 15px;
    color: #8286a699;
}

.main .left .content .down {
    border-radius: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 80px;
    font-weight: bold;
    font-size: 25px;
    color: #ffffff;
    background: linear-gradient(135deg, #456eff 10%, #869bff 90%), #FFFFFF;
    box-shadow: 0 5px 11px 0 #8286a6;
    margin: 25px 0 10px
}

.main .right {
    display: inline-flex;
    justify-content: center;
    flex-grow: 1;
    margin: auto;
}

.main .right .qrcode {
    width: 250px;
    height: 250px;
    border: 5px solid #6f8eff;
    border-radius: 19px;
}

.main .right .qrcode img {
    width: 100%;
    height: 100%;
}



footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    color: #8286a6;
    text-align: center;
}

.links {
    font-size: 16px;
    margin: 20px auto 10px;
}

.copyright {
    font-size: 18px;
    margin: 10px auto 20px;
}

.links p,
.copyright p {
    display: inline-block;
}

.links p,
.copyright p a {
    font-weight: bold;
}



@media screen and (max-width: 1440px) {

    .nav .title {
        margin: auto 100px;
    }

    .nav .title .logo {
        width: 49px;
        height: 49px;
    }

    .nav .title p {
        font-size: 36px;
        margin-left: 15px;
    }

    .nav .anchor {
        margin: auto 100px;
    }

    .nav .anchor .about,
    .nav .anchor .bdwork {
        font-size: 18px;
        margin: 0 10px;
    }

}




@media screen and (max-width: 999px) {

    .header {
        display: none;
    }


    .main .applogo {
        display: block;
        width: 200px;
        height: 200px;
        margin: 20px auto;
    }

    .main .applogo img {
        width: 100%;
        height: 100%;
    }

    .main .left .content .name {
        font-size: 36px;
    }

    .main .left .content .introduce {
        font-size: 20px;
    }

    .main .left .content .vesion {
        margin: 5px auto;
    }

    .main .left .content .down {
        margin: 25px auto 10px
    }

    .main .right {
        display: none;
    }

}
