/*** Google Font ***/
@import url("https://fonts.googleapis.com/css2?family=Potta+One&&family=Zhi+Mang+Xing&display=swap");


/*** Preloader ***/
#preloader {
    background: #eee;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 999999
}

#preloader .dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
    border-radius: 5px;
    background-color: #1e3f57;
    animation: dot1 3s cubic-bezier(.55, .3, .24, .99) infinite;
}

#preloader .dot:nth-child(2) {
    z-index: 11;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background-color: #3c617d;
    animation-name: dot2;
}

#preloader .dot:nth-child(3) {
    z-index: 12;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background-color: #6bb2cd;
    animation-name: dot3;
}

@keyframes dot1 {

    3%,
    97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }

    30%,
    36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }

    63%,
    69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {

    3%,
    97% {
        width: 150px;
        height: 90px;
        margin-top: -45px;
        margin-left: -75px;
    }

    30%,
    36% {
        width: 70px;
        height: 96px;
        margin-top: -48px;
        margin-left: -35px;
    }

    63%,
    69% {
        width: 32px;
        height: 60px;
        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {

    3%,
    97% {
        width: 40px;
        height: 20px;
        margin-top: 50px;
        margin-left: -20px;
    }

    30%,
    36% {
        width: 8px;
        height: 8px;
        margin-top: 49px;
        margin-left: -5px;
        border-radius: 8px;
    }

    63%,
    69% {
        width: 16px;
        height: 4px;
        margin-top: -37px;
        margin-left: -8px;
        border-radius: 10px;
    }
}


/*** 全局 ***/
a {
    color: var(--bs-light-bg-subtle);
    text-decoration: none;
}

a:hover {
    color: var(--bs-primary-bg-subtle);
}

ul li {
    padding: 0.25rem 0 0.25rem;
}

.ziti-cn {
    font-family: "Zhi Mang Xing", cursive;
    font-weight: 400;
    font-style: normal;
}

.ziti-en {
    font-family: "Potta One", system-ui;
    font-weight: 400;
    font-style: normal;
}


/*** 背景 ***/

.bg-blue {
    background-color: var(--bs-blue) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-indigo {
    background-color: var(--bs-indigo) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-purple {
    background-color: var(--bs-purple) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-pink {
    background-color: var(--bs-pink) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-red {
    background-color: var(--bs-red) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-orange {
    background-color: var(--bs-orange) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-yellow {
    background-color: var(--bs-yellow) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-green {
    background-color: var(--bs-green) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-teal {
    background-color: var(--bs-teal) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-cyan {
    background-color: var(--bs-cyan) !important;
    color: var(--bs-light-bg-subtle) !important;
}

.bg-gray {
    background-color: var(--bs-gray) !important;
    color: var(--bs-light-bg-subtle) !important;
}


/*** 文本 ***/

.text-blue {
    color: var(--bs-blue) !important;
}

.text-indigo {
    color: var(--bs-indigo) !important;
}

.text-purple {
    color: var(--bs-purple) !important;
}

.text-pink {
    color: var(--bs-pink) !important;
}

.text-red {
    color: var(--bs-red) !important;
}

.text-orange {
    color: var(--bs-orange) !important;
}

.text-yellow {
    color: var(--bs-yellow) !important;
}

.text-green {
    color: var(--bs-green) !important;
}

.text-teal {
    color: var(--bs-teal) !important;
}

.text-cyan {
    color: var(--bs-cyan) !important;
}

.text-gray {
    color: var(--bs-gray) !important;
}


/*** 图片 ***/

img {
    user-select: none;
}

/*** 标题 ***/

.heading {
    font-size: 5.67rem;
}

.title {
    user-select: none;
    text-shadow: 1px 1px 5px rgba(var(--bs-black-rgb), .3);
}

/*** 按钮 ***/

.btn {
    user-select: none;
}

.btn-start {
    color: var(--bs-light);
    border: 3px solid var(--bs-secondary-bg-subtle);
    background-color: rgba(var(--bs-light-rgb), 0);
}

.btn-start:hover {
    border: 3px solid rgba(var(--bs-primary-rgb), .9);
    background-color: rgba(var(--bs-primary-rgb), .9);
}

.btn-start:active {
    border: 3px solid rgba(var(--bs-primary-rgb), .9) !important;
    background-color: rgba(var(--bs-primary-rgb), .9) !important;
}

.btn-end {
    color: var(--bs-light);
    border: 3px solid var(--bs-secondary-bg-subtle);
    background-color: rgba(var(--bs-light-rgb), 0);
}

.btn-end:hover {
    border: 3px solid rgba(var(--bs-danger-rgb), .9);
    background-color: rgba(var(--bs-danger-rgb), .9);
}

.btn-end:active {
    border: 3px solid rgba(var(--bs-danger-rgb), .9) !important;
    background-color: rgba(var(--bs-danger-rgb), .9) !important;
}


/*** 导航 ***/

nav {
    background: rgba(var(--bs-primary-rgb), .95) !important;
}

nav .logo {
    height: 2.22rem;
}

.nav-link {
    color: var(--bs-light);
}


/*** 首页 ***/

.bg-gradient {
    background: linear-gradient(rgba(var(--bs-primary-rgb), .95) 1.11%, rgba(99, 125, 255, .75) 100%) !important;
}

.img-cover {
    width: 255px;
    height: 555px;
}


/*** FAQ ***/

@media (min-width: 992px) {
    #accordionFAQ {
        width: 75%;
    }
}


/*** 页脚 ***/

footer {
    background: linear-gradient(to top, rgba(var(--bs-primary-rgb), .95) 9.99%, rgba(99, 125, 255, .75) 100%) !important;
}

footer .heading {
    font-size: 3.21rem;
}


/*** 卡片 ***/

.card {
    height: 100%;
    border: 3px solid var(--bs-secondary-bg-subtle);
}

.card img {
    width: 120px;
    border: 3px solid var(--bs-secondary-bg-subtle);
}

.card:has(.price) {
    width: 22rem;
}

.card:has(img):hover,
.card:has(.price):hover {
    box-shadow: 0 0 5px rgba(var(--bs-black-rgb), .3);
}

.card .price {
    font-size: 2.69rem;
    background: var(--bs-primary);
    display: inline-block;
    border-radius: 50%;
    width: 7.89rem;
    height: 7.89rem;
    line-height: 7.89rem;
    color: var(--bs-light);
}

.card .icon {
    width: 4.32rem;
    height: 4.32rem;
    background: white;
    border: 2px solid var(--bs-secondary-bg-subtle);
    margin: 0 auto;
    font-size: 2.22rem;
    color: var(--bs-primary);
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;
}

.card .icon-shape {
    display: inline-flex;
    width: 3.69rem;
    height: 3.69rem;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}


/*** 轮播图 ***/

.swiper img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/*** 回到顶部 ***/

#back-to-top {
    position: fixed;
    bottom: 3.69rem;
    right: 2.22rem;
    opacity: 0.75;
}

#back-to-top:hover {
    opacity: 1;
}
